// $o-grid-is-silent: false;
@import "o-grid/main";
@import "o-colors/main";

$su-border-color: #efdaca;
$su-border-color--darker: #c0b0a4;
$su-color--error: #d0021b;
$su-color--success: #64ac11;
$border-radius: 3px;
$link-color: #27757b;

html {
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	@include oColorsFor(page);
}
.o-grid-container {
	position: relative;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	@include oGridRespondTo(M) {
		padding-left: 20px;
		padding-right: 20px;
	}
	min-width: 240px;
	max-width: 1220px;
}
#site-content {
	// @include oGridColspan((default:12, S: 10, M: 8, L: 6, XL: 5));
	// @include oGridCenter;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include oGridRespondTo(S) {
		min-width: percentage(10 / 12);
		max-width: percentage(10 / 12);
	}

	@include oGridRespondTo(M) {
		min-width: percentage(8 / 12);
		max-width: percentage(8 / 12);
	}

	@include oGridRespondTo(L) {
		min-width: percentage(6 / 12);
		max-width: percentage(6 / 12);
	}

	@include oGridRespondTo(XL) {
		min-width: percentage(5 / 12);
		max-width: percentage(5 / 12);
	}
	h2 {
		// margin: 0;
		padding: 0;
		border-bottom: 7px solid #E9DECF;
	}	
}



@import "scss/btn";
@import "scss/form";
@import "scss/field";
@import "scss/status-box";
@import "scss/two-column-spacing";
@import "scss/ui-item";
@import "scss/header.scss";
@import "scss/text";

@import "scss/radio-check";
@import "scss/dropdown.scss";