// $o-grid-is-silent: false;
@import "o-grid/main";
@import "o-colors/main";

html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	@include oColorsFor(page);
}
.o-header {
	height: 44px;
	text-align: center;
	background-color: #fff1e0;
    color: #505050;
    box-shadow: 0 1px 3px rgba(80, 80, 80, 0.2), 0 6px 10px rgba(80, 80, 80, 0.15);
	&__logo {
		padding: 11.5px 0;
	}
	span {
		display: none;
	}
	img {
		height: 21px;
	}
}
#site-content {
	@include oGridContainer;
	margin: 0 auto;
	height: 100%;
	h2 {
		margin: 0;
		padding: 0;
		border-bottom: 7px solid #E9DECF;
	}	
}

$su-border-color: #efdaca;
$su-border-color--darker: #c0b0a4;
$su-color--error: #d0021b;
$su-color--success: #64ac11;
$border-radius: 3px;

@import "scss/btn";
@import "scss/form";
@import "scss/field";
@import "scss/status-box";
@import "scss/two-column-spacing";
@import "scss/ui-item";
@import "scss/header.scss";
@import "scss/text";

@import "scss/radio-check";
@import "scss/dropdown.scss";