.su-btn__wrapper {
	text-align: center;
}
.su-btn {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	min-width: 280px;
    max-width: 100%;
	margin: 0 auto;
	padding: 8px 20px 10px;
	outline: 0;
	border: 0;
	border-radius: $border-radius;
	border-style: solid;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	user-select: none;
	background-clip: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	background-color: $teal-1;
	color: white;

    &:disabled {
    	background-color: #e9decf;
	    border-color: #e9decf;
	    cursor: default;
	    color: #afafaf;
    }
}
