.su-field__dropdown {
	&[aria-hidden=true] {
		display: none;
	}
	
	&[aria-hidden=false] {
		display: block;
		border: 1px solid #cec6b9;//wyc add
		background-color:#fff;//wyc add

	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		cursor: pointer;
		padding:5px; //wyc add
		border-bottom:1px dotted #333;//wyc add

	}
	span + ul {
		display: none;
		padding-left: 2em;
	}

	span.on + ul {
		display: block;
	}
}