.su-field__dropdown {
	font-size: 1.2em;
	color: #74736c;
	&[aria-hidden=true] {
		display: none;
	}
	
	&[aria-hidden=false] {
		display: block;
		border: 1px solid #cec6b9;//wyc add
		background-color:#fff;//wyc add

	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	span,
	li {
		display: block;
		cursor: pointer;
		padding:0; //wyc add
		//wyc add
	}

	li:last-child {
		border-bottom: 0;
	}

	li ul li {
		padding-left: 2em;
		line-height: 1.75;
	}

	span {
		line-height: 1.75;
		padding-left: 0.5em;
	}
	span.on {
		background: #598caf;
		color: #fff;
	}
	span.on, li {
		border-bottom:1px dotted #333;
	}

	span + ul {
		display: none;
		// padding-left: 2em;
	}

	span.on + ul {
		display: block;
	}
}