.su-field__dropdown {
	&[aria-hidden=true] {
		display: none;
	}
	
	&[aria-hidden=false] {
		display: block;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		cursor: pointer;
	}
	span + ul {
		display: none;
		padding-left: 2em;
	}

	span.on + ul {
		display: block;
	}
}