.su-form {
	> *:not(:last-child) {
		margin-bottom: 26px;
	}
	position: relative;
	margin-bottom:0;
	border: 0;
	// transition: height 1s;

	&[aria-hidden=true] {
		display: none;
	}

	padding: 12px 0;

	@include oGridRespondTo(L) {
		padding-top: 37px;
		padding-bottom: 37px;
	}


}

.su-form__fieldset {
	border: 0;
	padding: 0;
	// margin: 0 0 20px;
}

.su-form__header {
	display: block;
	width: 100%;
	box-sizing: border-box;
	position: relative;

	span {
		background-color: oColorsGetColorFor(page, background);
	    font-size: 16px;
	    padding-right: 3px;
	}
	&:after {
		position: absolute;
		top: 50%;
		content: '';
		display: block;
		width: 100%;
		height: 0;
		border-bottom: 6px solid #E9DECF;
		margin-top: -3px;
		z-index: -1;
	}
}

.agreement-tip {
    margin-top: 21px;
    font-size: 13px;
    text-align: center;
    color: #999;
    
	a {
		text-decoration: none;
		color: $link-color;
		padding-left: 3px;
		padding-right: 3px;
	}
}
.backhome {
	text-align: center;
	text-decoration: none;
	color: $link-color;
}