.su-form {
	> *:not(:last-child) {
		margin-bottom: 20px;
	}
	position: relative;
	margin-bottom:0;
	border: 0;

	&[aria-hidden=true] {
		display: none;
	}

	padding: 12px 0;

	@include oGridRespondTo(L) {
		padding-top: 37px;
		padding-bottom: 37px;
	}
}
#emailField {
	margin-top: 20px;
	margin-bottom: 0;
}

#passwordField {
	margin-top:20px; 
}
.su-form__fieldset {
	border: 0;
	padding: 0;
	margin: 0 0 20px;
}

.su-form__header {
	display: block;
	width: 100%;
	box-sizing: border-box;
	position: relative;

	span {
		background-color: oColorsGetColorFor(page, background);
		padding-right: 3px;
	}
	&:after {
		position: absolute;
		top: 50%;
		content: '';
		display: block;
		width: 100%;
		height: 0;
		border-bottom: 6px solid #E9DECF;
		margin-top: -3px;
		z-index: -1;
	}
}

#savedProfile {
	text-align: center;
	margin-bottom: 0;
	a {
		color: #2e6e9e;
	    text-decoration: none;
	    cursor: pointer;
	    padding-left: 3px;
	}
}