.su-header {
	text-align: center;
	> *:not(:first-child) {
		margin-top: 10px;
	}
}
.su-header__description {
	font-size: 16px; //13
	font-weight: 300;
	line-height: 18px;
	color: $grey-tint5;
	padding: 0 24px;
}

