.su-panel {
	background-color: white;
	border: 1px solid $su-border-color;
}

.su-panel__header {
	text-align: center;

	> * {
		margin-bottom: 14px;
	}
}

.su-panel__contents {
	padding: 12px 0;

	@include oGridRespondTo(L) {
		padding-top: 37px;
		padding-bottom: 37px;
	}
}

.su-panel--main {
	margin-top: 12px;
	margin-bottom: 12px;
}
