.o-forms-checkbox/* ,
.o-forms-radio */ {
	position: absolute;
	opacity: 0;

	& + .su-field__label {
		box-sizing: border-box;
		font-weight: 400;
		font-size: 16px;
		display: inline-block;
		margin-top: 4px;
		margin-right: 15px;
		padding-left: 14px + 5px;
		position: relative;
		cursor: pointer;
		line-height: 14px + 1px;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	& + .su-field__label::before {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 14px;
	    height: 14px;
	    border: 1px solid #cec6b9;
	    box-sizing: border-box;
	    content: '';
	    background-color: #fff;
	    transition: all .1s ease-in;		
	}

	&:focus + .su-field__label::before {
		border: 1px $pink-tint4;
		box-shadow: inset 0 0 4px 1px rgba($teal-2, 0.7);		
	}

	& + .su-field__label::after {
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: 0.1s opacity ease-in;		
	}

	&:checked + .su-field__label::after {
		opacity: 1;
	}	
}

.o-forms-radio  {
	display: none;
	& + .su-field__label {
		text-align: center;
		margin-right: 0;
		// width: 100%;
		border: 1px solid #cec6b9;
		border-radius: $border-radius;
		padding: 9px 1em;
		margin: 0;
		font-weight: 400;
		font-size: 16px;
	}

	&:checked + .su-field__label {
		background-color: rgb(43,187,191);
		border-color: rgb(38,116,122);
	}
}


.o-forms-checkbox {
	& + .su-field__label::before,
	& + .su-field__label::after {
		border-radius: 3px;
	}

	&:checked + .su-field__label::after {
		background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:tick?source=o-icons&tint=%23333333&format=svg);
		background-repeat: no-repeat;
		height: 14px;
		width: 14px;
		background-size: 14px;
		background-position: 50% 50%;
	}
}

