.su-status-box {
	font-weight: 300;
	font-size: 13px;
	// border: 1px solid transparent;
	border-radius: 3px;
	padding: 12px;
	background-color: $warm-2;
	span {
		font-size: 15px;
		font-weight: 300;
		
		a {
			text-decoration: none;
			color: $link-color;
			padding-left: 3px;
			padding-right: 3px;
		}
	}
}

#emailExistsStatusBox {
	color: $red;
}

#generalStatusBox {
	margin-top: 1em;

	&.is-error {
		border-color: $su-color--error;
		background-color: $su-color--error;
		color: white;
		word-wrap: break-word;
	}
}
