.su-status-box {
	font-weight: 300;
	font-size: 13px;
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 12px;
	background-color: oColorsGetPaletteColor('warm-2');

}

.su-status-box__title {
	font-weight: 400;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.su-status-box__description {
	font-size: 15px;
	font-weight: 300;
	a {
		text-decoration: none;
		color: #27757b;
		padding-left: 3px;
		padding-right: 3px;
	}
}

.su-status-box__btn {
	padding: 5px 20px 7px;
	background-color: oColorsGetPaletteColor('teal-1');
	color: white;

	&:hover {
		color: white;
	}
}

.su-status-box--error {
	border-color: $su-color--error;
	background-color: $su-color--error;
	color: white;
	word-wrap: break-word;
}
